.circle {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border: 30px solid green;
  border-right: 30px solid springgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}